.menuButton {
    color: var(--color-sidebar-accent-foreground);
}

.menuButton[data-state='open'] {
    background-color: var(--color-sidebar-accent);
}

.icon {
    margin-left: auto;
    width: 1rem;
    height: 1rem;
}

.dropdownContent {
    border-radius: var(--radius-lg);
}
